#cloud-config
manage_etc_hosts: 
hostname: ${hostname}
ssh_authorized_keys:
%{ for ssh_key in ssh_keys ~}
  - ${ssh_key}
%{ endfor ~}
packages:
  - yum-utils
  - device-mapper-persistent-data
  - lvm2
  - tc
runcmd:
  - yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
  - yum update -y
  - hostnamectl set-hostname "${hostname}" 
  - echo "127.0.0.1 ${hostname}" >> /etc/hosts
  - nmcli con mod "System eth0" ipv4.method manual
  - nmcli con mod "System eth0" ipv4.addresses ${hostip}
  - nmcli con mod "System eth0" ipv4.gateway 192.168.1.1
  - nmcli con mod "System eth0" ipv4.dns 192.168.1.1
  - nmcli con mod "System eth0" autoconnect yes
  - nmcli con down "System eth0"
  - nmcli con up "System eth0"
    %{ for vm in machines ~} 
  - echo "${vm.hostip} ${vm.hostname}" >> /etc/hosts
    %{ endfor ~}
  - systemctl restart NetworkManager
  - setenforce 0
  - sed -i --follow-symlinks 's/SELINUX=enforcing/SELINUX=disabled/g' /etc/sysconfig/selinux
  - sed -i 's/^SELINUX=enforcing$/SELINUX=disabled/' /etc/selinux/config
  - sysctl net.bridge.bridge-nf-call-iptables=1
  - firewall-offline-cmd --add-port=6443/tcp
  - firewall-offline-cmd --add-port=2379-2380/tcp
  - firewall-offline-cmd --add-port=10250/tcp
  - firewall-offline-cmd --add-port=10250/tcp
  - firewall-offline-cmd --add-port=10251/tcp
  - firewall-offline-cmd --add-port=10252/tcp
  - firewall-offline-cmd --add-port=10255/tcp
  - modprobe br_netfilter
  - echo '1' > /proc/sys/net/bridge/bridge-nf-call-iptables
  - reboot
  